.breadcrumbs {
    padding: 0 .5rem .5rem .5rem;
  }

  .breadcrumbs ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs li:not(:first-child)::before {
    display: inline-block;
    margin: 0 .25rem .25rem .25rem;
    content: ">";
  }