$footer-background: $dark-grey-2;
$footer-text-color: $light-grey-1;
$footer-link-color: $light-grey-1;
$footer-font-family: 'PT Sans', Helvetica, Arial, sans-serif;

// Set the body and html to 100% height
html, body {
  height: 100%;
  margin: 0;
}

// Set up the grid container to take at least 100% of the viewport height
.page-container {
  display: grid;
  grid-template-rows: 1fr auto; // 1 fraction for content, auto for footer
  min-height: 100vh; // Use 100% of the viewport height
}

// Footer styles
.footer {
  border-top: 1px solid #6a6a6b;
  grid-row-start: 2; // Place the footer in the second row
  grid-auto-flow: row;
  background-color: $footer-background;
  color: $footer-text-color;
  padding: calc(1vw + 1rem) 0;
  font-family: $footer-font-family;
  font-size: 18px;
  text-align: left;
  line-height: 1.5;

  .footer-text {
    width:90%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .footer-links {
    gap: 0.5rem; // Space between links

    a {
      color: $footer-link-color;
      text-decoration: underline;
      white-space: nowrap; // Prevent individual links from wrapping

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

// Responsive typography
@include respond-to(sm) {
  .footer {
    font-size: 16px;
  }
}
