.navigation-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    &-primary{
        background-color: $blue-primary;
    }
    &-secondary{
        background-color: $light-blue-primary;
    }
    &-nav {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      list-style-type: none;

      &.primary-nav {
        background-color: $blue-primary;
        margin-bottom: 3px;
        margin-top: 3px;

        li {
          flex: 1;
          text-align: center;
          margin-right: 3px;
          &:first-child {
            padding-left: 0;
          }

          a {
            display: block;
            padding: 10px 10px 10px;
            text-decoration: none;
            color: white;
            white-space: nowrap;

            &:hover {
                text-decoration: underline; // Underline on hover
                background-color: $blue-25-shade;
            }
              // Active (or "selected") state
            &:active, &.selected {
                border-radius: $link-focus-outline;
                border-radius: 1px;
                -webkit-border-radius: 1px;
                -moz-border-radius: 1px;
                -ms-border-radius: 1px;
                -o-border-radius: 1px;
                background-color: $light-blue-primary;
}
          }
        }
      }

      &.secondary-nav {
        background-color: $light-blue-primary;
        margin-bottom: 3px;
        margin-top: 3px;

        li {
          flex: 1;
          text-align: center;
          margin-right: 3px;

          &:first-child {
            padding-left: 0;
          }

          a {
            display: block;
            padding: 10px 10px 10px;
            text-decoration: none;
            color: white;
            white-space: nowrap;

            &:hover {
              text-decoration: underline; // Underline on hover
              background-color: $blue-25-shade;
          }
            // Active (or "selected") state
          &:active, &.selected {
              border-radius: $link-focus-outline;
              -webkit-border-radius: $link-focus-outline;
              -moz-border-radius: $link-focus-outline;
              -ms-border-radius: $link-focus-outline;
              -o-border-radius: $link-focus-outline;
              background-color: $light-blue-primary;
              color: $blue-25-shade;
}
          }
        }
      }
    }
  }
