
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family: "'PT Sans', Helvetica, Arial, sans-serif";
@import "variables";
@import "mixins";

body {
  font-family: $font-family;
  @include typography(font-size, ('xs': 100%, 'sm': 112.5%));
}

h1 {
    @include responsive-font-size(2.0736em, 0.36780625em, 36em, 75em);
  }

  h2 {
    @include responsive-font-size(1.728em, 0.225125em, 36em, 75em);
  }

  h3 {
    @include responsive-font-size(1.44em, 0.1225em, 36em, 75em);
  }

  h4 {
    @include responsive-font-size(1.2em, 0.05em, 36em, 75em);
  }

  h5 {
    font-size: 1em; // No responsive adjustment needed based on your setup
  }

  h6 {
    font-size: 1em; // No responsive adjustment needed based on your setup
  }

// Define styles for h1 to h6 and a tags as shown previously
a {
    color: $link-color;
    text-decoration: underline;
    text-underline-offset: .15em;
    transition: color 0.3s ease;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }

    &:active {
      color: $link-active-color;
    }

    &:focus {
      color: $link-focus-color;
      background: $link-focus-background;
      box-shadow: 0 3px $link-focus-background;
      outline: $link-focus-outline;
      text-decoration: underline;
}
}