$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

//Colors:
// Main Colors
$blue-primary: #00539b;
$blue-25-tint: #407eb4;
$blue-50-tint: #80a9cd;
$blue-25-shade: #003e74;
$light-blue-primary: #0071b3;
$light-blue-25-tint: #4095c6;
$light-blue-50-tint: #80b8d9;
$light-blue-25-shade: #005586;
$red-primary: #ea1a13;
$red-25-tint: #ef534e;
$red-50-tint: #f58d89;
$red-25-shade: #b0140e;
$dark-grey-1: #202024;
$dark-grey-2: #0f0f11;
$grey: #6a6a6b;
$mid-grey-1: #949494;
$mid-grey-2: #dedede;
$light-grey-1: #f0f0f0;
$light-grey-2: #fafafa;
$white: #ffffff;
$orange-primary: #ffb400;
$dark-orange: #bf5909;

// Additional Colors
$green-primary: #00853f;
$green-25-tint: #40a46f;
$green-50-tint: #80c29f;
$green-25-shade: #00642f;
$purple-primary: #7b439a;
$purple-25-tint: #9c72b3;
$purple-50-tint: #bda1cd;
$purple-25-shade: #5c3274;
$burgundy-primary: #c60c46;
$burgundy-25-tint: #d44974;
$burgundy-50-tint: #e386a3;
$burgundy-25-shade: #950935;

// Contextual Colors
$success: #00853f;
$information: #00539b;
$warning: #bf5909;
$danger: #ea1a13;

//Link colors
$link-color: #0071b3;
$link-hover-color: #005586;
$link-active-color: #c60c46;
$link-focus-color: #202024;
$link-focus-background: #ffb400;
$link-focus-outline: 3px solid #ffb400;
